h1{
    font-size: 48px;
    font-weight: 600;
}
.text-color{
    color: #E76F51;
}
/* ------------------Header Section Styles ------------------*/
.bg-header{
    background-color: #264653;
}

header p{
    color: #E0E0E0;
    font-weight: 300;
    padding-right: 100px;
}
.button-modal{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    background-color: #E76F51;
}
.btn-save-change{
    background-color: #E76F51;
    color: #fff;
}
.bg-modal{
    background-color: #fafafa;
}

/* ------------------Featured Bikes 2021 Styles ------------------*/
.grayscale img{
    filter: grayscale(100%);
}




/* ------------------Happy Clients Says Styles ------------------*/
.width{
    width: 149px;
}
.icon-color{
    color: #E76F51;
}
.box-shadow{
    transition: 0.8s all;
}
.box-shadow:hover{
    box-shadow: 0px 0px 20px #d6d6d6e3;
}




.bg-img{
    background: rgb(0, 0, 0, 0.5) url("../images/cover.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.bg-brand{
    background-color: #fafafa;
}

.line{
    display: block;
    position: absolute;
    top: 100%;
    overflow: hidden;
}

.contact {
    width: 70%;
}
.bg-contact{
    background-color: #1212128e;
    padding: 20px;
}
.btn-submit{
    background-color: #E76F51;
    padding: 5px 30px;
    color: #fff;
    font-weight: 400;
    margin-top: 16px;
}
.border-buttom{
    border-bottom: 1px solid rgb(136, 136, 136);
}
