*{
    font-family: 'Poppins', sans-serif;;
}
h1{
    font-size: 48px;
    font-weight: 600;
}
.text-color{
    color: #E76F51;
}
/* ------------------Header Section Styles ------------------*/
.bg-header{
    background-color: #264653;
}

header p{
    color: #E0E0E0;
    font-weight: 300;
    padding-right: 100px;
}
.button-modal{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    background-color: #E76F51;
}
.btn-save-change{
    background-color: #E76F51;
    color: #fff;
}
.bg-modal{
    background-color: #fafafa;
}

/* ------------------Featured Bikes 2021 Styles ------------------*/
.grayscale img{
    filter: grayscale(100%);
}




/* ------------------Happy Clients Says Styles ------------------*/

.bg-img{
    background-image: url("../images/cover.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-brand{
    background-color: #fafafa;
}

.line{
    display: block;
    position: absolute;
    top: 100%;
    overflow: hidden;
}

hr{
    height: 100px;
    width: 100px;
}
.brand{
    vertical-align: middle;
}


.back-to-top{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    color: orange;
    background-color: #fff;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    z-index: 99999;
    font-size: 34px;
    cursor: pointer;
    box-shadow: 0 0 5px rbg(0 0 0 / 50%);
}




.parallax{
    background-image: url("images/cover.png");
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}